/* la "rayita" que indica la navegación entre slides */
.SwipedTabs-indicatorSegment{
    -webkit-transition: 0s all;
    -moz-transition:  0s all;
    -o-transition:  0s all;
    transition:  0s all;
    transform-origin: top 0 left 0;
    height: 2px;
    position: relative;
    top: -2px;
    background-color: var(--ion-color-tertiary) !important;
}
.button-native{
    padding:0px !important;
}
/* para que el slide ocupe toda la pantalla */
ion-slide.swiper-slide {
    display:block;
}
.slides{
    height: 100%;
}
.fixed-scroll{
    height:100%!important;
    overflow-y:scroll;
    position:relative;
    ::-webkit-scrollbar {
        display: none !important;
    }
}
::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}
ion-card{
    margin:0px!important;
    border-radius: 0px;
}