<ion-header no-border color="primary">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>
      <!--<img style="vertical-align:middle;display:inline-block" src="../../assets/icon/BBIcon400.png" height="35" style="margin:0">-->
      <span style="font-weight:normal">BlueBike</span>
    </ion-title>
  </ion-toolbar>
  <ion-card>
    <ion-card-header color="success" style="padding:4px!important">
      <ion-card-title style="text-align: center;font-size:1.2rem;">{{"environmentalimpact" | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content style="padding:0px">
      <ion-row>
        <ion-col size="3"><img src="../../../assets/imgs/tree_mini.png" style="width:70px;margin:0px"></ion-col>
        <ion-col size="5">
          <ion-row></ion-row>
          <ion-row style="padding-top:10px">
            <ion-icon name="bicycle" style="zoom:1.4;margin-right:6px;color:green"></ion-icon>
            <strong style="margin-right:6px">{{viajestotales}}</strong> EcoTrips
          </ion-row>
          <ion-row>
            <ion-icon name="navigate" style="zoom:1.4;margin-right:6px;color:darkviolet"></ion-icon>
            <strong style="margin-right:6px">{{viajestotales*2}}</strong> Kms
          </ion-row>
          <ion-row>
            <ion-icon name=bonfire color="danger" style="zoom:1.4;margin-right:6px"></ion-icon>
            <strong style="margin-right:6px">{{viajestotales*80}}</strong> Kcals
          </ion-row>
        </ion-col>
        <ion-col size="1" style="text-align:center;">
          <ion-row style="padding-top:10px">
            <ion-icon name="body" style="zoom:1.5;color:dodgerblue;margin-bottom: 0px;margin-top:2px"></ion-icon><strong
              style="display: block;font-size:0.85rem">{{usuariostotales}}</strong>
          </ion-row>
        </ion-col>
        <ion-col size="3" style="text-align:center">
          <ion-icon name="cloud-done" style="zoom:2.5;color:dodgerblue;margin-bottom: 0px;"></ion-icon><strong style="display: block;margin-top:-8px!important">CO<sub>2</sub></strong>{{CO2}}
          Kgs
        </ion-col>
      </ion-row>

    </ion-card-content>
  </ion-card>
  <ion-segment [(ngModel)]="category" (ionChange)="slides.slideTo(category)" style="background-color:var(--ion-color-primary)"
    color="light">
    <ion-segment-button layout="icon-start" value="0" style="--padding-end:0px;--padding-start:0px">
      <ion-icon name="mail" style="margin-right:1px;zoom:0.8"></ion-icon>
      <ion-label>{{"requests" | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button layout="icon-start" value="1" style="--padding-end:0px;--padding-start:0px">
      <ion-icon name="contacts" style="margin-right:1px;zoom:0.8"></ion-icon>
      <ion-label>{{"users" | translate}}</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div id='indicator' class="SwipedTabs-indicatorSegment" [ngStyle]=" 
    {'width.%': (100/this.tabs.length)}" style="margin-top:2px"></div>

</ion-header>

<ion-content>
  <ion-slides #slides (ionSlideTransitionStart)="updateIndicatorPosition();updateCat(slides.getActiveIndex())"
    (ionSlideWillChange)="updateIndicatorPosition()" (ionSlideDidChange)="updateIndicatorPosition()" #SwipedTabsSlider
    (ionSlideDrag)="animateIndicator($event)">
    <ion-slide>
      <ion-content class="fixed-scroll">
        <ion-refresher (ionRefresh)="this.updateReq($event)">
          <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="{{'pulltoload' | translate}}"
            refreshingSpinner="null" refreshingText="">
            <img src="../../../assets/imgs/loading.svg" style="width:48px !important;margin:auto;position:relative;top:16px">
          </ion-refresher-content>
        </ion-refresher>
        <ion-item *ngFor="let item of listadoReq;let i = index" (click)="aprobarSolicitud(item)">
          <ion-icon name="mail" slot="start"></ion-icon>
          <ion-avatar slot="end" style="background-color:var(--ion-color-primary)">
            <img [src]="getImagen(item.avatar)" style="margin:auto;width:100px">
          </ion-avatar>
          <ion-label>
            <h3>{{item.nombre}}</h3>
            <h4>{{item.premio | translate | capitalize}}</h4>
          </ion-label>
        </ion-item>
      </ion-content>
    </ion-slide>
    <ion-slide>
      <ion-content class="fixed-scroll">
        <ion-refresher (ionRefresh)="this.updateUser($event,true)">
          <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="{{'pulltoload' | translate}}"
            refreshingSpinner="null" refreshingText="">
            <img src="../../../assets/imgs/loading.svg" style="width:48px !important;margin:auto;position:relative;top:16px">
          </ion-refresher-content>
        </ion-refresher>
        <ion-item *ngFor="let item of listadoUser;let i = index" (click)="editUser(item)">
          <ion-avatar slot="start" style="background-color:var(--ion-color-primary)">
            <img [src]="getImagen(item.avatar)" style="margin:auto;width:100px">
          </ion-avatar>
          <ion-label>
            <h3>{{item.nombre}}</h3>
            <h4>{{item.puntos}} {{"points" | translate}}</h4>
          </ion-label>
          <ion-badge slot="end" color="success">{{item.viajes?item.viajes:0}} {{"trips"  | translate}}</ion-badge>
        </ion-item>
        <ion-infinite-scroll #infiniteScroll threshold="10px" (ionInfinite)="updateUser($event,false)">
          <ion-infinite-scroll-content loadingSpinner="null" loadingText="">
            <img src="../../../assets/imgs/loading.svg" style="width:48px !important;margin:auto;position:relative">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-content>
    </ion-slide>
  </ion-slides>
</ion-content>